body {
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: #1a1a1a;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  color: white;
}

.questions {
  padding: 20px;
  background: #2a2a2a;
  border-radius: 4px;
  min-height: 60px;
  max-width: 500px
}

#items-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 450px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.item-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  width: 90%;
  padding: 10px;
}

#item-a, #item-b, #item-c, #item-d {
  font-size: 1em;
  width: 30%;
  height: 60px;
}

#item-a {
  background-color: maroon;
}

#item-b {
  background-color: olive;
}

#item-c {
  background-color: sienna;
}

#item-d {
  background-color: royalblue;
}

#infos {
  gap: 10px;
  margin-top: 10px;
  font-size: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  padding: 5px 10px;
  margin: 10px;
  background: #4a90e2;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background: #357abd;
}

#answerInput {
  padding: 3px;
  padding-left: 10px;
  margin-right: 10px;
  font-size: 1em;
  width: 150px;
  background: #333;
  border: 1px solid #555;
  color: #fff;
  border-radius: 4px;
}

#feedback {
  font-weight: bold;
} 

#last-time,
#total-time,
#score {
  background: #2a2a2a;
  padding: 3px 5px;
  border-radius: 4px;
  border: 1px solid #444;
  margin-top: 10px;
  font-size: 0.8em;
}
